

html,body {
    margin:0;
    padding:0;
    overflow-x:hidden;
}
.Author-text{
    /* font-size: 50px; */
    font-size: 2rem;
    margin-bottom: 30px;
    color: white;
}
.background-img{
     /* width: 100%;
    min-height: 100%;   */
    width: 100%;
    height: auto;
}
/* .button-position{
    position: 'absolute', left: '50%', top: '50%';
    transform: 'translate(-50%, -50%)';
} */

.button-position{
    /* background : rgba(0,0,0,0.5);    */
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
    /* font-size: 5rem; */
}
h1{
    color: white;
    font-weight: bolder;
}
.nav-text{
    text-align: center;
}
.nav-position{
     position: absolute;
     left: 650px;
     

}
@media screen and (max-width: 385px) {
    .Author-text {
      font-size: 1.3rem;
    }
  }
  @media (orientation: landscape) {
    .Author-text{
      font-size: 1.3rem;
    }
  }